# Local configuration.
default:
  context:
    parameters:
      # Set this drush alias in your aliases.drushrc.php file to match
      # the base_url set above. Leave off the preceding '@'.
      drush_alias: 'myalias'

      drupal_users:
        drupal:
          'drupal'
        site user:
          'site user pass here'
        git user:
          'git user pass here'
        git vetted user:
          'git vetted user pass here'
        docs manager:
          'docs moderator pass here'
      #git usernames don't always match the drupal username
      git_users:
        gituser:
          'gituser pass here'


      #this should probably be configured like the drupal_users
      right_sidebar: '#column-right'
      home_bottom_right: '#front-bottom-right'

  extensions:
    Behat\MinkExtension\Extension:
      base_url: 'http://git6site.devdrupal.org'
      # set the absolute path to the files folder of this project
      files_path: '/path/to/doobie/files'

