# Local configuration.
default:
  context:
    parameters:
      # Set this drush alias in your aliases.drushrc.php file to match
      # the base_url set above. Leave off the preceding '@'.
      drush_alias: 'myalias'
  extensions:
    Behat\MinkExtension\Extension:
      base_url: 'http://git6site.devdrupal.org'
